@model TravelAlbum.Web.Models.ImageModels.LatestImagesOutputModel

<div id="single-images-container">
@if (Model != null && Model.ImagePreviews != null)
{

    foreach (var image in Model.ImagePreviews)
    {
            <div class="single-image-container">
                <a href="@Url.Action("Details", "Images", new { id = image.ImageId })">
                    <div style="background: url(@String.Format("data:image/jpg;base64,{0}", image.ImageData))">
                       
                    </div>
                </a>                     
                    <div>@image.CreatedOn</div>
            </div>            
    }
}

</div>

<div style="clear:both">
<div id="progress" style="display:none;">
    <h4>Loading...</h4>
</div>



@using (Html.BeginForm("SearchTravels", "Travels", new { area = string.Empty }, FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <input type="text" class="search_box" width:150px;" name="search" placeholder="Търси пътувания"/>
}

<div id="url-path">@Request.Url.PathAndQuery</div>
</div>
@section ImagesLoader{   
<script src="~/Scripts/Custom/single-images-loader.js"></script>
}
   