<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/nav-bar.css" rel="stylesheet" />
    <link href="~/Content/top-image.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
</head>
<body>
    <div class="top-image"></div>
    <div class='topnav'>
        <div class="content-menu">
            @Html.ActionLink(Resources.GlobalResources.LabelAddTravel, "Add", "Travels")
            @Html.ActionLink("Add single image", "Add", "SingleImages")     
        </div>

        <div class="login-menu">
            @Html.Partial("_LoginPartial")
            <a href="@Url.Action("RedirectLanguage", "Culture",  new { language = "bg", query = Request.Url.PathAndQuery })">
                <img src="~/Content/Images/bg_flag.jpg" class="language-images"/>
            </a>
            <a href=@Url.Action("RedirectLanguage", "Culture",  new { language = "en", query = Request.Url.PathAndQuery })>
                <img src="~/Content/Images/en_flag.jpg"  class="language-images"/>
            </a>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Travel catalog</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("SingleImagesLoader", required: false)
</body>
</html>
