<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travel Album</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")   
    <link href="~/Content/nav-bar.css" rel="stylesheet" />
    <link href="~/Content/top-image.css" rel="stylesheet" />
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/single-image-details.css" rel="stylesheet" />
    <link href="~/Content/comments.css" rel="stylesheet" />
    <link href="~/Content/travels.css" rel="stylesheet" />
</head>
<body>

    <img src="~/Content/DBImages/SL373233_preview.jpg" id="bg" />
    <!--div class="top-image"></!div-->
    <div class='topnav'>
        <div class="content-menu">
            @Html.ActionLink(TravelAlbum.Resources.App_GlobalResources.GlobalResources.LabelAlbum, "SearchImages", "Images")
            @Html.ActionLink(TravelAlbum.Resources.App_GlobalResources.GlobalResources.LabelTravels, "GetTravels", "Travels", new { url = @Request.Url.PathAndQuery }, null)
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                @Html.ActionLink(TravelAlbum.Resources.App_GlobalResources.GlobalResources.LabelAddTravel, "Add", "Travels");
                @Html.ActionLink(TravelAlbum.Resources.App_GlobalResources.GlobalResources.LabelAddImage, "Add", "Images");
            }
        </div>

        <div class="login-menu">
            <a href="@Url.Action("SearchImages", "Images",  new { lang = "bg"})">
                <img src="~/Content/Images/bg_flag.jpg" class="language-images" />
            </a>
            <a href="@Url.Action("SearchImages", "Images",  new { lang = "en"})">
                <img src="~/Content/Images/en_flag.jpg" class="language-images" />
            </a>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div>
        @RenderBody()       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/lightbox.js"></script>
    <script src="~/Scripts/jquery.endless-scroll.js"></script>    

    @RenderSection("ImagesLoader", required: false)
    @RenderSection("CommentsSection", required: false)
</body>
</html>
