@model TravelAlbum.Web.Models.CommentModels.CommentViewModel
@using Microsoft.AspNet.Identity


<div class="comment-header">
    <strong>@Model.Author.NickName</strong><span class="text-muted pull-right">@Model.CreatedOn</span>
</div>

<div class="comment-container">
    <div class="comment-avatar"><img src=@Model.Author.Avatar width="100" height="100"></div>
    <div class="comment-content">
        @Model.Content
    </div>
</div>
@if (User.Identity.GetUserId() == @Model.AuthorId)
{
    <div class="comment-manage-buttons">
        @Html.ActionLink("Edit", "EditComment", "Comments", new { area = "Facilities", id = Model.Id }, new { @class = "btn btn-warning" })
        @using (Html.BeginForm("DeleteComment", "Comments", new { area = "Facilities", id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-danger" value="Delete" />
            @*@Html.ActionLink("Delete", "DeleteComment", "Comments", new { id = comment.Id }, new { @class = "btn btn-danger"})*@
        }
    </div>

}

<div class="col-md-2"></div>