@model TravelAlbum.Web.Models.ImageModels.ImageOutputViewModel
<img src="@String.Format("data:image/jpg;base64,{0}", @Model.BackgroundData)" id="bg-single-image-details"/>
<a href="@String.Format("data:image/jpg;base64,{0}", Model.ImageData)">
    <img class="single-image-img" src="@String.Format("data:image/jpg;base64,{0}", Model.ImageData)" />
</a>
<br />
<div class="row">
    <div class="description-details-image col-md-offset-3 col-md-6">@Model.Description</div>
    <div class="date-details-image col-md-3">@Html.DisplayFor(model => model.CreatedOn)</div>
</div>
<div class="clear row">
    <div class="col-md-4">
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit Single Image", "Edit", "Images", new { id = Model.ImageId }, new { @class = "btn btn-primary pull-right" })
        }
    </div>
</div>
<div style="height:10px;clear:both;"></div>

<textarea class="add-comment-textarea" rows="4" cols="90" placeholder="Add Comment" name="Content"></textarea>
<button class="submit-comment-button btn btn-primary" data-id="@Model.ImageId">Add comment</button>
<div id="latest-comments-container" class="row">

</div>

<div id="comments-container" data-id="@Model.ImageId" data-route="/Images/Details/"></div>

<button id="show-comments-button" class="btn btn-primary">Show Comments</button>
@*Html.ActionLink("Add Comment", "AddComment", "Comments", new { area = "Facilities", id = Model.Id }, new { @class = "btn btn-primary" })*@



@*@ @foreach (var comment in Model.FacilityComments)
    {
       @Html.Action("RedirectToGetLatestComments", "FacilitiesPublic", new { area = "Facilities", id = Model.Id })
        if (comment.IsDeleted == false)
        {
            <div class="row">
                @{
                    var commentViewModel = SportsBook.Web.Infrastructure.Mapping.AutoMapperConfig.Configuration.CreateMapper().Map<SportsBook.Web.Areas.Facilities.ViewModels.Comments.CommentViewModel>(comment);
                    @Html.Partial("_SingleCommentPartial", commentViewModel)
                }
            </div>
        }
    }*@


@section CommentsSection{
    <script src="~/Scripts/Custom/comments-controller.js"></script>
}

@section BackgroundSection{
    <script>
       // $("#bg").attr("src", "~/Content/DBImages/SL373554_preview.JPG")
       //     .css("position", "fixed")
       //     .css("top", "0")
       //     .css("left", "0")        
       //     .css("min-width", "100%")
       //     .css("min-height", "100%")
       //     .css("width", "100%")
       //     .css("height", "100%")
       //     .css("-webkit-filter", "sepia(0.55) blur(3px)")
       //     .css("filter", "sepia(0.55) blur(3px)")
       //     .css("z-index", "-1000");        
    </script>
}










