@model TravelAlbum.Web.Models.TravelModels.DetailsTravelOutputViewModel
<img src="@String.Format("data:image/jpg;base64,{0}", @Model.BackgroundData)" id="bg-travels" />


<br />
<div class="col-md-12 text-center travel-details-title">
    @Model.Title
</div>

<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="text-center col-md-8 travel-text" data-id="@Model.Id">
        @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))
    </div>
    <div class="col-md-2"></div>
</div>
<div class="gallery"></div>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", "Travels", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

<div style="height:10px;clear:both;"></div>
<textarea class="add-comment-textarea" rows="4" cols="90" placeholder="Add Comment" name="Content"></textarea>
<button class="submit-travel-comment-button btn btn-primary" data-id="@Model.Id">Add comment</button>
<div id="latest-comments-container" class="row">
</div>
<div id="comments-container" data-id="@Model.Id" data-route="/Travels/Details/"></div>
<button id="show-comments-button" class="btn btn-primary">Show Comments</button>

@section CommentsSection{
    <script src="~/Scripts/Custom/comments-controller.js"></script>
}

@section ImagesLoaderSection{
    <script src="~/Scripts/Custom/images-loader-section.js"></script>
}