@model TravelAlbum.Web.Models.TravelModels.TravelsOutputViewModel

<div id="screen">

    @foreach (var travel in Model.travels)
    {
        <a href="@Url.Action("Details", "Travels", new { id = @travel.Id })" class="single-travel-link">
            <div class="clearfix travels-container">
                <div class="travel-title">@travel.Title</div>
                <img src="@String.Format("data:image/jpg;base64,{0}", travel.ImageData)" class="travels-image" />
                <p class="travels-description">@travel.Description</p>
            </div>
        </a>
    }
</div>





